SPRING_APPLICATION_NAME=fvc-api
SERVER_PORT=8080

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/fvc-db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=123
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver

SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=thanhldhe171856@fpt.edu.vn
SPRING_MAIL_PASSWORD=sylyjfmfxkzpkglh

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=true

SPRING_SECURITY_JWT_SECRET=b9f3c7e2a5d1f0c4b8a3e6d9f2c1a7b4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0
# JWT expiration time in milliseconds (18000000 = 300 minutes = 5 hours)
SPRING_SECURITY_JWT_EXPIRATION=18000000

APP_SECURITY_PASSWORD_ENCODER_STRENGTH=12

APP_SECURITY_CORS_ALLOWED_ORIGINS=http://localhost:5173
# Allowed methods
APP_SECURITY_CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE,OPTIONS,PATCH
# Allowed headers
APP_SECURITY_CORS_ALLOWED_HEADERS=*
# Allow credentials
APP_SECURITY_CORS_ALLOW_CREDENTIALS=true

LOGGING_LEVEL_ROOT=INFO
LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_WEB=DEBUG
LOGGING_LEVEL_ORG_HIBERNATE_SQL=DEBUG
LOGGING_LEVEL_ORG_HIBERNATE_TYPE_DESCRIPTOR_SQL_BASICBINDER=TRACE
LOGGING_LEVEL_SEP490G65_FVCAPI=DEBUG