server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fvc-db
    username: postgres
    password: sa123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update # update | validate | create | create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

  security:
    jwt:
      secret: "b9f3c7e2a5d1f0c4b8a3e6d9f2c1a7b4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0"
      expiration: 18000000 # 300 minutes in milliseconds

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

app:
  security:
    cors:
      allowed-origins: "http://localhost:5173"
      allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
    password-encoder:
      strength: 12
